{#
/**
 * @file
 * Theme override to display a single Drupal page while offline.
 *
 * All available variables are mirrored in page.html.twig.
 * Some may be blank but they are provided for consistency.
 *
 * @see template_preprocess_maintenance_page()
 */
#}

{{ attach_library('eclecticmeme/layouts') }}
<div class="layout-center">

  <header class="header" role="banner">
    {% if logo %}
      <a href="{{ front_page }}" title="{{ 'Home'|t }}" rel="home">
        <img src="{{ logo }}" alt="{{ 'Home'|t }}"/>
      </a>
    {% endif %}

    {% if site_name or site_slogan %}
      <div class="name-and-slogan">
        {% if site_name %}
         <h1 class="site-name">
           <a href="{{ front_page }}" title="{{ 'Home'|t }}" rel="home">{{ site_name }}</a>
         </h1>
        {% endif %}

        {% if site_slogan %}
          <div class="site-slogan">{{ site_slogan }}</div>
        {% endif %}
      </div>{# /.name-and-slogan #}
    {% endif %}

  </header>

  <div class="layout-3col">

    {# Decide on layout classes by checking if sidebars have content. #}
    {% if page.sidebar_first and page.sidebar_second %}
      {% set content_class        = 'layout-3col__right-content' %}
      {% set sidebar_first_class  = 'layout-3col__first-left-sidebar' %}
      {% set sidebar_second_class = 'layout-3col__second-left-sidebar' %}
    {% elseif (page.sidebar_second) %}
      {% set content_class        = 'layout-3col__left-content' %}
      {% set sidebar_first_class  = '' %}
      {% set sidebar_second_class = 'layout-3col__right-sidebar' %}
    {% elseif (page.sidebar_first) %}
      {% set content_class        = 'layout-3col__right-content' %}
      {% set sidebar_first_class  = 'layout-3col__left-sidebar' %}
      {% set sidebar_second_class = '' %}
    {% else %}
      {% set content_class        = 'layout-3col__full' %}
      {% set sidebar_first_class  = '' %}
      {% set sidebar_second_class = '' %}
    {% endif %}

    {% if page.primary_menu %}
      <div class="layout-3col__full">
        {{ page.primary_menu }}
      </div>
    {% endif %}

    <main class="{{ content_class }}" role="main">

      {{ page.highlighted }}
      <a href="#skip-link" class="visually-hidden visually-hidden--focusable" id="main-content">Back to top</a>{# link target is in html.html.twig #}
      {% if title %}
        <h1>{{ title }}</h1>
      {% endif %}
      {{ page.content }}

    </main>

    {% if page.sidebar_first %}
      <aside class="{{ sidebar_first_class }}" role="complementary">
        {{ page.sidebar_first }}
      </aside>
    {% endif %}

    {% if page.sidebar_second %}
      <aside class="{{ sidebar_second_class }}" role="complementary">
        {{ page.sidebar_second }}
      </aside>
    {% endif %}

  </div>

  {{ page.footer }}

</div>{# /.layout-center #}

{{ page.bottom }}
